services:
  caddy:
    image: caddy:2.9.1
    ports:
      - "5000:80"
    configs:
      - source: caddyfile
        target: /etc/caddy/Caddyfile
      
  server:
    build:
      context: .
      dockerfile_inline: |
        FROM mcr.microsoft.com/dotnet/sdk:9.0
        RUN apt update && apt install -y libgdiplus
        RUN groupadd -g ${GID} ${GROUP}
        RUN useradd -m ${USER} -u ${UID} -g ${GID} -m -d ${HOME} -s /bin/bash
        ENV DOTNET_NOLOGO=true
        ENV PATH="$PATH:/${HOME}/.dotnet/tools"
        USER ${UID}:${GID}
        RUN dotnet tool install --global dotnet-ef
    volumes:
      - /$HOME/.nuget/packages/:/$HOME/.nuget/packages/:ro
      - ./MyMusic.Common:/workspaces/my-music/MyMusic.Common
      - ./MyMusic.Server:/workspaces/my-music/MyMusic.Server
      - ./scripts:/workspaces/my-music/scripts
      - /$HOME/Music:/$HOME/Music:ro
      - server-data:/storage
    working_dir: /workspaces/my-music/MyMusic.Server
    command: dotnet watch run --no-restore --launch-profile container

  youtube-source:
    build:
      context: .
      dockerfile_inline: |
        FROM mcr.microsoft.com/dotnet/sdk:9.0
        FROM mcr.microsoft.com/dotnet/sdk:9.0
        RUN groupadd -g ${GID} ${GROUP}
        RUN useradd -m ${USER} -u ${UID} -g ${GID} -m -d ${HOME} -s /bin/bash
        ENV DOTNET_NOLOGO=true
        ENV PATH="$PATH:/${HOME}/.dotnet/tools"
    volumes:
      - /${HOME}/.nuget/packages/:/${HOME}/.nuget/packages/:ro
      - ./MyMusic.Common:/workspaces/my-music/MyMusic.Common
      - ./MyMusic.Source:/workspaces/my-music/MyMusic.Source
    working_dir: /workspaces/my-music/MyMusic.Source
    command: dotnet watch run --no-restore --launch-profile container  
    user: ${UID}:${GID}

  client:
    build:
      context: .
      dockerfile_inline: |
        FROM node:24
        RUN npm install -g -y vite
    volumes:
      - ./MyMusic.Client:/workspaces/my-music/MyMusic.Client
    working_dir: /workspaces/my-music/MyMusic.Client
    command: "npm run dev -- --port 8080 --host"
    user: ${UID}:${GID}

  valkey:
    image: valkey/valkey:7.2.10

  db:
    image: postgres:17
    environment:
      POSTGRES_DB: my-music
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db-data:/var/lib/postgresql/data
    
  pgadmin:
    image: dpage/pgadmin4:9.6
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@localhost.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
      PGADMIN_DISABLE_POSTFIX: 'True'
      PGADMIN_LISTEN_PORT: 8080
      PGADMIN_SERVER_JSON_FILE: /pgadmin4/servers.json
      PGADMIN_CONFIG_ENABLE_PSQL: 'True'
      PGADMIN_REPLACE_SERVERS_ON_STARTUP: 'True'
      PGADMIN_CONFIG_CONSOLE_LOG_LEVEL: 10
    configs:
      - source: pgadmin-servers
        target: /pgadmin4/servers.json

volumes:
  server-data: {}
  db-data: {}

configs:
  caddyfile:
    content: |
      {
        debug
        admin
      }

      (pgadmin) {
        reverse_proxy http://pgadmin:8080 {
          header_up X-Script-Name /pgadmin
        }
      }

      :80 {
        handle_path /api/* {
          reverse_proxy http://server:8080
        }
        
        handle_path /pgadmin  {
          import pgadmin
        }
        handle_path /pgadmin/* { 
          import pgadmin 
        }
      
        handle /* {
          reverse_proxy http://client:8080
        }
      }
      
  pgadmin-servers:
    content: |
      {
        "Servers": {
          "1": {
            "Name": "MyMusic",
            "Group": "Databases",
            "Port": 5432,
            "Username": "postgres",
            "Password": "postgres",
            "Host": "db",
            "MaintenanceDB": "postgres",
            "ConnectionParameters": {
              "sslmode": "prefer",
              "connect_timeout": 10
            }
          }
        }
      }