.toolbar {
    display: grid;
    gap: var(--mantine-spacing-xs);
    margin-bottom: var(--mantine-spacing-md);
    grid-template-areas:
        "views actions"
        "search search";
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
}

@media (min-width: 36rem) {
    .toolbar {
        grid-template-areas: "views search actions";
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto;
    }
}

.views {
    grid-area: views;
}

.search {
    grid-area: search;
}

.actions {
    grid-area: actions;
}

.selectedActions {
    background-color: var(--mantine-color-default);
    color: var(--mantine-color-blue-filled-text);
    border-radius: var(--mantine-radius-md);
    padding: calc(var(--mantine-spacing-xs) * 0.4) var(--mantine-spacing-md);
}

.dragHandle {
    cursor: grab;
}

.dragHandle:active {
    cursor: grabbing;
}

.dragging {
    background-color: var(--mantine-color-gray-1);
    border-radius: var(--mantine-radius-sm);
}
