.row {
    &.selected {
        background-color: var(--mantine-color-blue-light);
    }

    /* Is invisible when not hovered, or when the selection is not empty */
    .rowActions *, &:hover .rowActions.hidden * {
        opacity: 0;
    }

    /* Is visible when the menu is open, or when the row is hovered */
    .rowActions.opened *, &:hover .rowActions * {
        opacity: 1;
    }
}